
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.Form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;

}
/* .container{
  padding: 20px;
} */
.inputfield{
  width: 100%;


}
.label{
  margin-bottom: 10px;
}
#image{
  width: 100%;
  height: 100%;
}

.imageContainer{
  max-height: 100vh;

 
}
.imageContainer item {
  padding:20px 20px 0px 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
